@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


:root {
  --background-Color: #131722;
  --lightBg: #24baef;
  --baseColor: #fff
}


a,
a:hover {
  text-decoration: none;
  color: #fff !important;
}


body {
  background-color: var(--background-Color);
  color: #fff;
  font-family: 'Indie Flower', cursive;
}

input {
  background-color: transparent !important;
  color: white !important;
}

.navbar-toggler {
  color: white !important;
  background-color: white !important;
}

.diverup {
  background-color: #fff;
  height: 1px;
  opacity: 0.5;
}

.diverdown {
  background-color: #fff;
  height: 1px;
  opacity: 0.5;
}

.item{
  transition: all 0.4s ease-in-out;
}

.item:hover{
 transform: scale(1.1);
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border: #fff 1px solid;
  border-radius: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  outline: none;
}

